Source: kernelstub
Maintainer: Ian Santopietro <isantop@gmail.com>
Section: python
Priority: optional
Build-Depends: python3-all, 
               pyflakes3, 
               python3-pytest, 
               dh-python,
               debhelper (>= 7.4.3)
Standards-Version: 4.3.0

Package: kernelstub
Architecture: all
Depends: ${misc:Depends}, 
         ${python3:Depends}, 
         systemd, 
         util-linux (>= 2.31.1)
Recommends: python3-systemd
Description: Comprehensive automatic ESP Management for Linux
 Kernelstub is a utility to automatically manage your OS's EFI System Partition
 (ESP). It makes it simple to copy the current kernel and initramfs image onto
 the ESP so that they are automatically probable by most EFI boot loaders as 
 well as the EFI firmware itself.

Package: pop-boot
Architecture: all
Depends: kernelstub, 
         systemd, 
         ${misc:Depends}
Description: Fancy, magical, automatic boot package for Pop!_OS
 This empty package sets up kernelstub on Pop!_OS
