Source: kernelstub
Maintainer: Ian Santopietro <isantop@gmail.com>
Section: python
Priority: optional
Build-Depends: python3-all, pyflakes3, debhelper (>= 7.4.3), dh-python
Standards-Version: 3.9.1

Package: kernelstub
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, efibootmgr, python3-debian, util-linux
Recommends: python3-systemd
Description: Automatic kernel efistub manager for UEFI

Package: pop-boot
Architecture: all
Depends: kernelstub, systemd
Description: The fancy, magical, automatic boot package for Pop!_OS
